@font-face {
    font-family: 'Bad Script';
    font-weight: 400;
    src: 
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src:
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: 
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff');
}

:root {
    --color-men: #1178B3;
    --color-women: #C300C7;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding-bottom: 17px; */
}

.women {
    background-color:  #FFF1F8;
}

.men {
    background-color:  #EFF9FE;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    box-shadow: inset  4px 4px 5px 0px rgb(23, 23, 24);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 1;
    padding: 28px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__button-change {
    width: 300px;
    height: 65px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 30px;
}

.men .header__button-change {
    background: var(--color-men);
}

.women .header__button-change {
    background: var(--color-women);
}

.header__button-change:last-child {
    margin-right: 0;
}

.header__button-gender {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: none;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    margin-right: 20px;
}

.header__button-gender:last-child {
    margin-right: 0;
}

.header__button-gender_men {
    /* border: 1px solid var(--color-men); */
    background-image: url(../img/men.svg);
}

.men .header__button-gender_men {
    border-color: var(--color-men);;
}

.header__button-gender_women {
    /* border: 1px solid var(--color-women); */
    background-image: url(../img/women.svg);
}

.women .header__button-gender_women {
    border-color: var(--color-women);
}

.card {
    flex-grow: 1;
    padding: 32px 0 15px;
    display: flex;
    align-items: center;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__wrapper {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
    font-size: 3px;
}

.card__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(calc(100vw * 3 / (840 / 3 / 2)), 6em));
    line-height: 1.6;
    text-align: center;
}

.women .card__text {
    font-family: 'Bad Script';
}

.men .card__text {
    font-family: 'Open Sans';
    font-weight: 700;
}

.footer {
    padding: 17px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__social {
    display: flex;
    gap: 16px;
}

/* .footer__link {
    color: red;
} */

.men .footer__link {
    color: var(--color-men);;
}

.women .footer__link {
    color: var(--color-women);;
}

.button-change_image_fon {
    max-width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    /* margin-right: 10px; */
}

.men .button-change_image_fon {
    background-color: var(--color-men);;
}

.women .button-change_image_fon {
    background-color: var(--color-women);;
}

.user__color__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user__color {
    /* margin-right: 10px;  */
    /* padding-top: 5px; */
    /* box-sizing: border-box
    border: none;
    border-radius: 50%;
    overflow: hidden; */
}


.user__color {
    -webkit-appearance: none;
    border: none;
    background: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

  /* -webkit */
.user__color::-webkit-color-swatch-wrapper {
    padding: 0;    
}

.user__color::-webkit-color-swatch {
    border: none;  
    border-radius: 50%;
}

.wrapper__name {
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.button__generator {
    border-radius: 10px;
    background-color: var(--color-women);
    color: #FFF1F8;
    width: 280px;
}

.wrapper__name {
    display: flex;
    align-items: center;
}

.men .wrapper__name {
    font-size: 0px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.area__name:focus{
    filter: brightness(0.9);
}

.text__happyBirthday {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(calc(100vw * 2 / (840 / 3 / 2)), 6em));
    line-height: 1.6;
    max-width: 350px;
    height: auto;
    text-align: center;
}

.women .text__happyBirthday {
    font-family: 'Bad Script';
}

.men .text__happyBirthday {
    font-family: 'Open Sans';
    font-weight: 700;
}

@media (max-width: 1150px) {
    .container {
        padding: 0 10px;
    }

    .header__button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    

    .header__button-change{
        width: 220px;
        height: 45px;
        font-size: 14px;
        margin-right: 0;
    }

    .header__button-gender {
        width: 40px;
        height: 40px;
        background-size: 30px;
        margin-right: 0;
    }
    .user__color__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .button-change_image_fon {
        font-size: 14px;
        width: 150px;
    }
    /* .user__color {
        width: 40px;
    } */
}

@media (max-width: 400px) {
    .footer__container {
        flex-direction: column;
        gap: 30px;
    }
    .footer__contacts {
        order: 1;
    }
    /* .user__color__wrapper {
        display: flex;
        flex-direction: column;
    }

    .user__color {
        width: 60px;
    } */
}

/* .footer {
    position: relative; 
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    width: 212px;
    height: 79px;
    margin-left: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.footer__social {
    width: 192px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-right: 90px;
}

.social {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.footer__social_vk {
    background-image: url(../img/vk.svg);
}
.footer__social_telegram {
    background-image: url(../img/telegram.svg);
}
.footer__social_pinterest {
    background-image: url(../img/pinterest.svg);
}
.footer__social_stumbleupon {
    background-image: url(../img/stumbleupon.svg);
} */

